/****************************************** marwan Css***********************************************/




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #787878;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;

}

h1, h2, h3, h4 {
    font-weight: 400;
}


h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

ul {
    list-style: none;
}


li {
position: relative;
text-align: left
}

li .delete{
    position: absolute;
    right: 0;
    top:0;
    line-height: 1.4;
    }

a {
    text-decoration: none;
}

a:hover {
    color: #6c6c6c;
    text-decoration: none;
}

a:focus,
a:visited,
a:active {
    outline: 0;
    color: #6c6c6c;
    text-decoration: none;
}

p {
    font-size: 16px;
    font-weight: 300;
    color: #777777;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0;
}

section {

    padding-top: 30px;

}


section .title h2 {
    font-weight: 400;
    font-size: 38px;
    color-spacing: -1px;
}

section .title h5 {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    }


    .right {

        right: 0;
    }

    .left {
        left: 0;
    }


.hustlin {
    background-color: #fff;
    min-height:500px;
}
.hustlin .music {

    color: #000;
    font-size: 7rem;
    line-height: 500px
}

.color_chang  {
    -webkit-animation: acolor_chang 3s infinite;
    -moz-animation:    color_chang 3s infinite;
    animation:         color_chang 3s infinite;
}


 @-webkit-keyframes color_chang {
    0%   { background-color: rgb(240, 117, 9); }
    10% { background-color: rgb(255, 0, 0); }
    20% { background-color: rgb(30, 218, 108); }
    30% { background-color: rgb(164, 22, 230); }
    40% { background-color: #D2B4DE; }
    50%   { background-color: rgb(238, 21, 50); }
    60% { background-color: rgb(73, 8, 2); }
    70% { background-color: rgb(138, 134, 175); }
    80% { background-color: rgb(186, 223, 25); }
    90% { background-color: rgb(223, 76, 7); }
    100% { background-color: rgb(177, 13, 241); }
  }
  @-moz-keyframes color_chang {
    0%   { background-color: rgb(240, 117, 9); }
    10% { background-color: rgb(255, 0, 0); }
    20% { background-color: rgb(30, 218, 108); }
    30% { background-color: rgb(164, 22, 230); }
    40% { background-color: #D2B4DE; }
    50%   { background-color: rgb(238, 21, 50); }
    60% { background-color: rgb(73, 8, 2); }
    70% { background-color: rgb(138, 134, 175); }
    80% { background-color: rgb(186, 223, 25); }
    90% { background-color: rgb(223, 76, 7); }
    100% { background-color: rgb(177, 13, 241); }
  }
  @keyframes color_chang {
    0%   { background-color: rgb(240, 117, 9); }
    10% { background-color: rgb(255, 0, 0); }
    20% { background-color: rgb(30, 218, 108); }
    30% { background-color: rgb(164, 22, 230); }
    40% { background-color: #D2B4DE; }
    50%   { background-color: rgb(238, 21, 50); }
    60% { background-color: rgb(73, 8, 2); }
    70% { background-color: rgb(138, 134, 175); }
    80% { background-color: rgb(186, 223, 25); }
    90% { background-color: rgb(223, 76, 7); }
    100% { background-color: rgb(177, 13, 241); }
  }




  
  .counters {

    position: relative;
    min-height: 500px;
  }

  .counter{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
  }
  .counter h1{
    text-transform: uppercase;
    font-size: 60px;
    margin: 0px;
    color-spacing: 10px;
  }
  .counter h2{
    margin: 0;
    font-size: 50px;
    font-weight: 500;
    font-style: italic;
  }
  .count{
    margin: 40px 0;
  }
  .countd{
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 2px solid;
    margin: 0 30px;
    font-size: 12px;
    border-radius: 50%;
    overflow: hidden;
  }
  .countd span{
    display: block;
    font-size: 26px;
    margin-top: 14px;
  }


#namealert,
#emailalert,
#phonealert{

    display: none;
}
#end {
 color: #fff; 
 font-weight: 700;
 font-size: 100px;
 
}
/****************************************** Khaled Css***********************************************/


.add p
{
    line-height: 10px;
    font-size: 17px;
    color: darkslategray; 
}
/************************************ Nancy Css ***************************************************/
.fifth
{
    background-color: #17a2b8;
    height: 592 px;
    padding-top: 30px;
}
.fifth .header 
{
    background-color: white;
    height: 62.4px;
}
.fifth .header .container h2
{
    text-align: center;
    padding: 8px 0px 16px 0px;
    margin-bottom: 0px !important;

}
.fifth .header .container h2 .firsttext
{
    color: #28a745;
    font-weight: 400px;
    font-size: 38px;
    line-height: 1.3px;

}
.fifth .header .container h2 .secondtext
{
    color: #dc3545;
    font-weight: 400px;
    font-size: 38px;
    line-height: 1.3px;

}
.fifth .footer h2
{
    padding: 0px 15px;
}
.fifth .footer h2
{
    text-align: center;
    color: #787878;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.3;

}
.fifth .footer form .labelname
{
    margin-top: 0px;

}
.fifth .footer form label
{
    margin-bottom: 8px;
    color: #787878;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 16px;

}
.fifth .footer form input
{
    padding: 6px 12px;

}
.fifth .footer form .alert
{
    display:none;

}
.fifth .footer form .group
{
    margin:16px 0px  16px 0px;

}
.fifth .footer form textarea
{
    padding: 6px 12px ;

}
.fifth .footer form .btn 
{
    margin-bottom: 0px !important;
}
/********************************************************************/